body {
    margin: 0;
    padding: 0;
}

.main-nav {
    height: 80vh;
    background: url('one.jpg') no-repeat center;
    background-size: cover;
}

.menu-mini {
    background-color: #212529;
    display: flex;
    padding: 10px;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
}

.logo {
    font-family: 'Pacifico', cursive;
    color: #fed136;
    font-size: 20px;
}

.menu-btn {
    color: #fff;
    font-size: 12px;
    background-color: #fed136;
    border: none;
    padding: 11px 20px;
    border-radius: 5px;
    outline: none;
    text-transform: uppercase;
}

.main-nav-left {
    display: none;
}

.tagline {
    font-family: 'IBM Plex Serif', serif;
    font-style: italic;
    color: #fff;
    font-size: 24px;
    text-align: center;
}

.tagline-header {
    color: #fff;
    text-transform: uppercase;
    font-size: 50px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: -.5px;
}

.tag {
    text-align: center;
    margin-top: 85px;
}

.tag-btn {
    color: #fff;
    font-size: 14px;
    padding: 20px 50px;
    background-color: #fed136;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    position: absolute;
    left: 60px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    margin-top: -25px;
    width: 60%;
    position: absolute;
    left: 20%;
    right: 30%;
}

@media (min-width: 991px) {
    .tag {
        padding-top: 100px;
    }

    .tagline-header {
        font-family: 'Montserrat', sans-serif;
        font-weight: 800;
        font-size: 75px;
    }

    .container {
        width: 90%;
        margin: 0 auto;
    }

    .main-nav {
        height: 100vh;
    }

    .logo {
        font-size: 28px;
    }

    .menu-mini {
        background-color: transparent;
    }

    .menu-btn {
        display: none;
    }

    .main-nav-left {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: stretch;
        align-content: stretch;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
    }

    .nav-links {
        padding: 0 15px;
        font-size: 14.4px;
    }
}

.nav-links {
    color: #fff;
    list-style: none;
}